.game {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  padding: 20px;
}

.grid {
  display: grid;
  min-width: 150px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  gap: 1px;
  background-color: #000;
  border: 1px solid #000;
}

.cell {
  position: relative;
  padding-bottom: 100%;
}

.cell-in {
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: lightgray;
  transition: 0.15s;
}

.cell-in:hover {
  background-color: lightyellow;
}

.cell-in:active,
.cell--active .cell-in {
  background-color: coral;
}

.controls {
}

.control {
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.control:last-child {
  margin-right: 0;
}

.result {
  margin-top: 20px;
}
